@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.section-center{
    margin: 0px auto;
}
.list-item{
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}
.btn-primary{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border: none;
    border-radius:12px;
    padding: 10px;
    color: white;
    font-size: 1.25rem;
}

/* navbar style  */

.navbar{
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px 0px;

}
.nav-list{
    list-style: none;
    gap:32px;
}
.list-item>a{
    text-decoration: none;
}
.nav-item >img{
    margin-top: 10px;
    height:62px;
    width: 62px;
}
.nav-title{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}
.nav-icon{
    display: none;
}
/* navbar style end */

@media screen and (max-width:576px){
    .navbar{
        justify-content: space-between;
        padding-left:16px;
        padding-right: 16px;
    }
    .nav-list, .nav-btn, .nav-title{
        display: none;
    }
    .nav-icon{
        display: inline;
    }
}